
.footer{
    background: linear-gradient(#7028e4 0%, #b490ca 100%);
    padding: 20px 0px;

}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-link{
    width: 33%;
    padding:15px;
}
.footer-link h4{
    font-size:25px ;
    color: white;
    margin-bottom: 1.5625rem;
    font-weight: 500;
    border-bottom: .125rem solid rgb(255, 255, 255);
    padding-bottom: .625rem;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-link ul li a{
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: .9375rem;
    transition: all .3s ase; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-link ul li a:hover{
    color: white;
    padding-left: .375rem;
}