.pc-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 30px;
    gap: 20px;
}
.equipos-gaming{
    text-align: center;
    color: white;


}

.slider-container{
    max-width: 75rem;
    margin: 0 auto;
}